<header>
    <div class="header">
        <nav class="navigation">
            <div class="navbar-logo">
                <img src="assets/logo.png">


                <div class="navbar-right">
                    <a href="#">Home</a>
                    <a href="#">About</a>
                    <a href="#">Product</a>
                    <a href="#">Services</a>
                    <a href="#">Pricing</a>
                    <a href="#">Contact</a>
                    <a href="#">Login</a>

                </div>
            </div>
        </nav>

        <div class="video-container">
            <video autoplay loop muted id="video-bg">

        <source src="assets/lift_1.mp4" type="video/mp4">

      </video>
        </div>
    </div>
</header>
<div class="portfolio-section">
    <div class="tagline-left">
        <div class="tagline-left-text">Serving the waters that serve our state.</div>
        <video autoplay muted loop class="tagline-video">
      <source src="assets/lift_2.mp4" type="video/mp4">
    </video>
    </div>
    <div class="tagline-right">
        <div class="tagline-right-text">The future is for workers</div>
        <video autoplay muted loop class="tagline-video">
      <source src="http://www.bigcom.com/assets/2014/08/GoBuildAlabama.mp4" type="video/mp4">
    </video>
    </div>
</div>